@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Neue Montreal;
    src: url("./NeueMontreal-Regular.ttf");
}
@font-face {
    font-family: FoundersGrotesk-Semibold;
    src: url("./FoundersGrotesk-Semibold.ttf");
}